footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 16px 32px;
    gap: 16px;
    border-radius: 32px 32px 0px 0px;
    background-color: #DEE5EB;
  }

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    gap: 16px;
    width: 100%;
    text-align: center;
}

#logo-rodape {
    width: 107px;
    height: 40px;
}

#rodape-texto {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

#rodape-icons {
    display: flex;
    gap: 16px;
}

  /* --------------------------------------------------------------------------------- */

  @media (max-width: 599px) {
  
    footer {
      width: 100%;
    }
}