h1 {
    font-family: 'IBM Plex Sans';
    font-style: medium;
    font-weight: 500;
    font-size: 32px;
    margin: 0;
    color: #011E38;
}

h2 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    color: #011E38;
}

h3 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    color: #011E38;
}

h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    color: #011E38;
}

h5 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    margin: 0;
    color: #011E38;
}

textarea {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: #011E38;
}

button {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}


.serv-prod {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.recibo-gerado {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}